---
interface Props {
  subtitle: string;
  title: string;
  buttonText: string;
  buttonHref: string;
  contentAlignment?: "left" | "right"; // New prop for alignment
  backgroundImage: string; // New prop for background image
}

const {
  subtitle,
  title,
  buttonText,
  buttonHref,
  contentAlignment = "left",
  backgroundImage,
} = Astro.props;
---

<section
  class:list={["cta-section", { "align-right": contentAlignment === "right" }]}
  style={`background-image: url('${backgroundImage}');`}
>
  <div class="cta-content">
    <p class="cta-subtitle">{subtitle}</p>
    <h2 class="cta-title">{title}</h2>
    <button class="primary" onclick={`window.location.href='${buttonHref}'`}>
      {buttonText}
    </button>
    <p class="small-text">
      * Aprovação sujeita a análise do negócio e faturamento.
    </p>
  </div>
</section>

<style>
  .cta-section {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: hsla(36, 100%, 95%, 1); /* #F8F3E7 */
    text-align: left;
    padding: max(4em, 8cqw) var(--space-xxl);
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Default to left alignment */
  }

  .cta-section.align-right {
    justify-content: flex-end; /* Align content to the right */
    background-position: left center; /* Position background image to the left */
  }

  .cta-content {
    max-width: max(300px, 40cqw); /* Adjust max-width for content */
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .cta-subtitle {
    font-weight: var(--font-weight-semibold);
    color: var(--color-button-primary-end); /* Golden color */
    font-size: max(1.2em, 1.6cqw);
    margin-bottom: 0;
  }

  .cta-title {
    font-family: "Montserrat", sans-serif;
    font-weight: var(--font-weight-bold);
    font-size: max(2em, 4.1cqw);
    line-height: 1.2;
    margin-bottom: 2cqw;
  }

  @media (max-width: 960px) {
    .cta-subtitle {
      font-size: max(1.1em, 1.6cqw);
    }
  }
</style>
