---
export interface Props {
  h1Text: string;
  pText: string;
  backgroundImage: string;
  showButtons?: boolean;
  primaryButtonText?: string;
  secondaryButtonText?: string;
}

const {
  h1Text,
  pText,
  backgroundImage,
  showButtons = true,
  primaryButtonText = "Lucre agora!",
  secondaryButtonText = "Entre em contato",
} = Astro.props;
---

<section
  class="hero-section"
  style={{ backgroundImage: `url(${backgroundImage})` }}
>
  <div class="hero-content">
    <h1>{h1Text}</h1>
    <p class="subtitle">{pText}</p>
    {
      showButtons && (
        <div class="hero-buttons">
          <a href="https://api.whatsapp.com/send?phone=5512983010571" target="_blank" class="primary-link">
            <button class="primary">{primaryButtonText}</button>
          </a>
          <a href="/comofunciona" class="secondary-link">
            <button class="secondary">{secondaryButtonText}</button>
          </a>
        </div>
      )
    }
  </div>
</section>

<style>
  .hero-section {
    padding: 8cqb var(--space-xxl);
    display: flex;
    flex-direction: row; /* Lado a lado por padr찾o (desktop) */
    align-items: center;
    justify-content: flex-start;
    color: var(--color-button-text);
    text-align: left;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    margin-top: 6.6cqw;
  }

  .hero-content {
    max-width: 32cqw;
    margin-bottom: 0;
  }

  .hero-content h1 {
    font-size: max(2em, 5cqw);
    margin-bottom: 1.6cqw;
    font-family: var(--font-primary);
    line-height: max(2rem, 5.2cqw);
  }

  .hero-buttons {
    display: flex;
    flex-direction: row; /* Bot천es lado a lado por padr찾o */
    gap: 1.2cqw;
  }

  @media (max-width: 960px) {
    .hero-section {
      padding: max(10em, 5cqw) var(--space-xxl) max(4em, 5cqw) var(--space-xxl);
      flex-direction: column; /* Empilha em mobile */
      align-items: center;
      justify-content: flex-end;
      background-position: 43% top;
      background-size: cover;
      margin-top: 5rem;
      min-height: 75cqh;
      position: relative;
    }
    .hero-section::after {
      content: "";
      position: absolute;
      bottom: 20%;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(hsl(222deg 14% 14% / 0%) 20%, hsl(222deg 14% 14% / 50%) 40%, var(--color-background) 100%);
      opacity: 0.7;
      transition: opacity 0.3s ease;
      z-index: 1;
    }

    .hero-content {
      width: 100%;
      max-width: 100%;
      position: relative;
      z-index: 2;
    }
    .hero-content h1 {
      font-size: clamp(2.3em, 6cqi, 2.8em);
      max-width: 18rem;
      line-height: max(2.5rem, 6.4cqw);
      margin-bottom: 1rem;
    }
    .hero-content p {
      font-size: clamp(1.2em, 5cqi, 1.4rem);
      max-width: 18rem;
      margin-bottom: 2.5rem;
      text-shadow: 0rem 0rem 0rem var(--color-background-light);
    }

    .hero-buttons {
      flex-direction: column; /* Bot천es empilhados em mobile */
      gap: clamp(0.8rem, 2cqb, 1rem);
    }
  }
</style>
