---
import { Image } from "astro:assets";
import GoogleLogo from "../../public/logos/google.svg";
import CademiLogo from "../../public/logos/cademi.webp";
import TheMembersLogo from "../../public/logos/themembers.webp";
import MentorfyLogo from "../../public/logos/mentorfy.webp";
import EnotasLogo from "../../public/logos/enotas.webp";
import NotazzLogo from "../../public/logos/notazz.webp";
import ContaAzulLogo from "../../public/logos/contaazul.webp";
import FacebookLogo from "../../public/logos/facebook.webp";
import OutbrainLogo from "../../public/logos/outbrain.webp";
import LucreLogoPequeno from "../../public/logos/lucre+ logo pequeno.svg";

export interface Props {
  openInNewTab?: boolean;
}

const { openInNewTab = false } = Astro.props;
---

<section class="integrations-section">
  <div class="container">
    <h2>Integrações estratégicas</h2>
    <p class="subtitle">
      Conecte-se facilmente com as principais ferramentas do mercado
    </p>

    <div class="lucre-logo-container">
      <Image src={LucreLogoPequeno} alt="Lucre+ Logo" class="lucre-logo" />
    </div>
    <img
      src="/vectors/drawLinesSimplesvg.svg"
      alt="Lucre+ Integrations"
      class="integrations-image"
    />

    <div class="main-integrations-grid">
      <div class="integration-category">
        <h3>Área de membros</h3>
        <div class="integration-logos">
          <div class="logo-block">
            <div class="logo-image">
              <Image
                src={TheMembersLogo}
                alt="Google Logo"
                class="logo-vector"
              />
            </div>
            <span>The Members</span>
          </div>
          <div class="logo-block">
            <div class="logo-image">
              <Image src={MentorfyLogo} alt="Google Logo" class="logo-vector" />
            </div>
            <span>Mentorfy</span>
          </div>
          <div class="logo-block">
            <div class="logo-image">
              <Image src={CademiLogo} alt="Google Logo" class="logo-vector" />
            </div>
            <span>Cademí</span>
          </div>
        </div>
      </div>

      <div class="integration-category">
        <h3>Pixel e dados de conversão</h3>
        <div class="integration-logos">
          <div class="logo-block">
            <div class="logo-image">
              <Image src={FacebookLogo} alt="Google Logo" class="logo-vector" />
            </div>
            <span>Facebook</span>
          </div>
          <div class="logo-block">
            <div class="logo-image">
              <Image src={GoogleLogo} alt="Google Logo" class="logo-vector" />
            </div>
            <span>Google</span>
          </div>
          <div class="logo-block">
            <div class="logo-image">
              <Image src={OutbrainLogo} alt="Google Logo" class="logo-vector" />
            </div>
            <span>Outbrain</span>
          </div>
        </div>
      </div>

      <div class="integration-category">
        <h3>Emissão de notas fiscais</h3>
        <div class="integration-logos">
          <div class="logo-block">
            <div class="logo-image">
              <Image src={EnotasLogo} alt="Google Logo" class="logo-vector" />
            </div>
            <span>enotas</span>
          </div>
          <div class="logo-block">
            <div class="logo-image">
              <Image src={NotazzLogo} alt="Google Logo" class="logo-vector" />
            </div>
            <span>notazz</span>
          </div>
          <div class="logo-block">
            <div class="logo-image">
              <Image
                src={ContaAzulLogo}
                alt="Google Logo"
                class="logo-vector"
              />
            </div>
            <span>Conta Azul</span>
          </div>
        </div>
      </div>
    </div>
    <div class="more-integrations">
      <p>E muitas outras integrações!</p>
      <a
        class="primary link-with-arrow"
        href="/comofunciona#integrations-section-complete"
        target={openInNewTab ? "_blank" : "_self"}
        >Conheça mais integrações</a
      >
    </div>
  </div>
</section>

<style>
  .integrations-section {
    text-align: center;
    padding: 14cqb var(--space-xxl);
  }

  .integrations-section h2 {
    font-size: max(2em, 3.4cqw);
  }

  .integrations-section .subtitle {
    margin-bottom: var(--space-xl);
    color: var(--color-text-light);
  }

  .lucre-logo-container {
    text-align: center;
  }

  .main-integrations-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: var(--space-xl);
  }

  .integration-category {
    background-color: var(--color-card-background);
    border-radius: 1cqw;
    text-align: center;
  }

  .integration-category h3 {
    font-size: max(1.1em, 1.4cqw);
    margin-bottom: var(--space-md);
    color: var(--color-heading);
  }

  .integration-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2cqb;
  }

  .integrations-image {
    width: 60vw;
    margin: 2vw 0;
  }

  .logo-block {
    background-color: var(--color-white);
    border-radius: 0.5cqw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-xs);
    box-shadow: 0px 2px 5px hsla(0, 0%, 0%, 0.1);
    flex: 1 1 auto;
  }

  .logo-image {
    background-color: var(--color-background-light);
    border: var(--border);
    border-radius: clamp(1rem, 1.5cqw, 8rem);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 6.6vw;
    height: -webkit-fill-available;
    margin-top: 1.4vw;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .logo-vector {
    width: -webkit-fill-available;
    height: auto;
    padding: max(1rem, 1.2cqw);
    filter: grayscale(0.4);
    transition: filter 0.2s ease-in-out;
  }
  .logo-vector:hover {
    filter: grayscale(0);
  }

  .lucre-logo {
    width: max(4rem, 6cqw);
    height: auto;
  }

  .logo-block span {
    font-size: max(0.77em, 1cqw);
    text-align: center;
  }

  .more-integrations p {
    font-size: max(1em, 2cqw);
    margin-bottom: var(--space-s);
    font-weight: 400;
  }

  /* Responsive adjustments */
  @media (max-width: 960px) {
    .main-integrations-grid {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
      gap: 1.2cqb;
    }
    .integration-category {
      width: 90%;
    }
    .integration-category h3 {
      display: none;
    }
    .integration-logos {
      gap: 1.2cqb;
    }
    .logo-image {
      width: clamp(5em, 10cqw, 10em);
      height: clamp(5em, 10cqb, 10em);
    }
    .logo-block {
      flex: 1 1 auto;
    }
    .logo-block span {
      display: none;
    }
    .more-integrations {
      margin-top: 3rem;
    }
    .integrations-image {
      max-width: 12rem;
    }
    .lucre-logo-container {
      margin: 2cqb;
    }
  }
</style>
