---
import ServiceBlock from "./ServiceBlock.astro";

interface Props {
  mainTitle: string;
  mainParagraph: string;
  buttonText: string;
  buttonLink: string;
  serviceBlocks: {
    class: string;
    title: string;
    description: string;
    linkText: string;
    linkHref: string;
  }[];
}

const { mainTitle, mainParagraph, buttonText, buttonLink, serviceBlocks } =
  Astro.props;
---

<section class="services-section">
  <div class="services-grid">
    <div class="main-content-wrapper">
      <h2>{mainTitle}</h2>
      <p class="subtitle">{mainParagraph}</p>
      <button class="primary" onclick={`window.location.href='${buttonLink}'`}
        >{buttonText}</button
      >
    </div>
    {
      serviceBlocks.map((block) => (
        <ServiceBlock
          class={block.class}
          title={block.title}
          description={block.description}
          linkText={block.linkText}
          linkHref={block.linkHref}
        />
      ))
    }
  </div>
</section>

<style>
  /* Estilos da Seção Serviços */
  .services-section {
    color: var(--color-button-text);
    text-align: left;
  }

  .services-section h2 {
    font-size: max(2.5em, 4cqw);
    margin-bottom: 2cqb;
    font-weight: var(--font-weight-bold);
    font-family: "Montserrat", sans-serif;
  }
  .main-content-wrapper {
    grid-area: main-content;
    margin-bottom: 6cqb;
  }
  .services-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 6 colunas */
    grid-template-rows: repeat(3, 1fr); /* 4 linhas */
    grid-template-areas:
      "main-content main-content main-content block-1 block-1 block-1 block-1 block-1"
      "block-2 block-2 block-2 block-1 block-1 block-1 block-1 block-1"
      "block-3 block-3 block-3 block-3 block-4 block-4 block-4 block-4"
      ". . . . block-4 block-4 block-4 block-4"
      ". . . . block-4 block-4 block-4 block-4"
      ". . . . block-4 block-4 block-4 block-4"
      ". . . . block-4 block-4 block-4 block-4"
      ". . . . block-4 block-4 block-4 block-4"
      ". . . . block-4 block-4 block-4 block-4";
    gap: 2cqw;
  }
  @media (max-width: 960px) {
    .services-grid {
      display: flex;
      flex-direction: column;
    }
  }
</style>
